{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}



<video video autobuffer autoplay id="myVideo">
  <source id="mp4" src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>


<div class="w3-display-middle top">
  <div class="panel panel-default w3-card">
    <div class="panel-heading w3-theme-d3">
      <h3 class="text-center">Sign In</h3>
    </div>
    <div class="panel-body ">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <div class="form-group" style="text-align:center;">
          <input type="submit" class="w3-button w3-theme-d4" value="Login">
        </div>

      </form>
    </div>
  <p style="color:white;">njjnkjnknknj  n jjnklnk k k kj knknmknlm</p>
  </div>

</div>
<div class="content " style="text-align: center;">
  <img src="https://bit.ly/2XCoIeN" width="50" style="border-radius:50%;">
  <h3 >Awards</h3>
 
</div>
<p id="text">The Awards Awards is an Kenyan award website that was established in 2020 by the Black Entertainment Television network to celebrate Web programmers and other innovative minorities in music, acting, sports.The awards are presented annually, and are broadcast live on Awards website. </p>
<script>
  var video = document.getElementById("myVideo");
  var btn = document.getElementById("myBtn");
  
  function myFunction() {
    if (video.paused) {
      video.play();
      btn.innerHTML = "Pause";
    } else {
      video.pause();
      btn.innerHTML = "Play";
    }
  }
</script>


{% endblock %}